<div class="flex p-4 border-solid border border-gray-50 rounded">
  <img class="w-24" src="{{thumbnail}}" />
  <div>{{name}} is {{status}}</div>
  <div>{{viewer}} viewer, {{description}}</div>
</div>
